h1, h3 {
    position: relative;
    top: 15vh;
    text-align: center;
    font-family: 'Calibri';
}

.tiles_row {
    position: relative;
    top: 20vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.tiles_row > a:has(>.tile), .tiles_row > .tile {
    margin-left: 15px;
    margin-right: 15px;
}